<h3>Your Discounts</h3>
<% @discounts.each do |discount| %>
  <div id='discount-<%= discount.id %>'>
    <p>
      #<%= discount.id %> - <%= discount.quantity_threshold %> items, <%= discount.percent_discount %>% off
      (<%= link_to "View", "/merchant/#{discount.merchant_id}/discounts/#{discount.id}" %>)
      (<%= link_to "Delete", "/merchant/#{discount.merchant_id}/discounts/#{discount.id}", method: :delete %>)
      (<%= link_to "Edit", "/merchant/#{discount.merchant_id}/discounts/#{discount.id}/edit" %>)
    </p>
  </div>
<% end %>
<%= link_to "Create Discount", "/merchant/#{@merchant.id}/discounts/new" %>

<h3>Upcoming Holidays</h3>
<% @next_holidays.each do |holiday| %>
  <p><%= holiday[:name] %>: <%= holiday[:date] %></p>
<% end %>
